.mt-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--mt-spacing-spacing-1, 4px);
  box-sizing: border-box;

  font: normal normal var(--mt-button-m);

  /* 
  font-size: var(--mt-size-md, 16px);
  font-style: normal;
  font-weight: 400; */

  outline: none;
  border: 2px solid;
  border-radius: var(--mt-radius-radius-md, 8px);

  cursor: pointer;

  &.mt-button--primary {
    color: #ffffff;
    background-color: #0071e5;

    &:hover,
    &:focus {
      background-color: #3195fc;
    }

    &:active {
      background-color: #005ebf;
    }
  }

  &.mt-button--secondary {
    color: #0071e5;
    background-color: #ffffff;
    border-color: #eaeaea;

    &:hover,
    &:focus {
      color: #3195fc;
    }

    &:active {
      color: #005ebf;
      border-color: #ababad;
    }

    &.mt-button--shadow {
      &:active {
        border: none;
      }
    }
  }

  &.mt-button--size-m {
    font-size: var(--mt-size-md, 16px);
    padding: var(--mt-spacing-spacing-2, 8px) var(--Spacing-spacing-4, 16px);
  }

  &.mt-button--size-s {
    font-size: var(--mt-size-sm, 14px);
    padding: var(--mt-spacing-spacing-1, 4px) var(--mt-spacing-spacing-2, 8px);
  }

  &.mt-button--disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  &.mt-button--shadow {
    border: none;
    box-shadow: var(--mt-elevations-s);

    &:hover,
    &:focus {
      box-shadow: var(--mt-elevations-m);
    }
  }
}
