.mt-validation {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 4px;

  &.mt-validation--default {
    color: var(--mt-color-text-dark-soft);
  }

  &.mt-validation--error {
    color: var(--mt-color-status-alert);
  }

  &.mt-validation--warning {
    color: var(--mt-color-status-warning-2);

    & .mt-validation__message {
      color: var(--mt-color-text-dark-soft);
    }
  }

  & .mt-validation__message {
    font: normal normal var(--mt-bodytext-xs-regular);

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
