::-moz-selection {
  color: var(--mt-color-text-white) !important;
  background: var(--mt-primary-palette-primary) !important;
}

::selection {
  color: var(--mt-color-text-white) !important;
  background: var(--mt-primary-palette-primary) !important;
}
