.mt-cluster-layout {
  display: flex;
  align-items: center;
  justify-content: var(--mt-cluster-layout-justify, "start");
  flex-wrap: var(--mt-cluster-layout-wrap, "wrap");
  gap: var(--mt-cluster-layout-spacing, 8px);
}
