@font-face {
  font-display: block;
  font-family: "icons-font";
  src: url("./icons-font.ttf?dcf71aba37a3a7cebfd67d58ad90b8f9") format("truetype");
}

span[class^="icon-"]::before, span[class*=" icon-"]::before {
  font-family: icons-font !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alert-circle::before {
  content: "\f101";
}
.icon-arrow-down::before {
  content: "\f102";
}
.icon-arrow-left::before {
  content: "\f103";
}
.icon-arrow-right::before {
  content: "\f104";
}
.icon-arrow-up::before {
  content: "\f105";
}
.icon-close-sm::before {
  content: "\f106";
}
